@model IEnumerable<ProjectNavItemViewModel>

<h3>
	Your projects
</h3>     
<ul>
    @foreach (var navItem in Model)
    {
        var projId = Request.GetIntParam("projectId");
        
        <li>
            @if (!projId.HasValue || projId.Value != navItem.Id)
            {
                @(Html.ActionLink<ProjectsController>(x => x.Show(navItem.Id), navItem.ProjectName))
            }
            else
            {
                <span>@navItem.ProjectName</span>
            }
        </li>
    }
</ul>