/*clearFix*/
.clear:before, .clear:after {
 content: "\0020"; display: block; height: 0; visibility: hidden;  
} 
.clear:after { clear: both; }
.clear { zoom: 1; }
/*clearFix*/

section > nav {
    width: 200px;
    float: left;
    margin: 15px;
    /*border: 1px solid #5c87b2;*/
}

    nav > h3 {
        margin-left: 20px;
    }
    
    nav > ul > li > span {
        font-weight: bold;
    }

section#main > article {
    float: left;
    width: 78%;
}

ul.imagesList {
    list-style: none;
}

    ul.imagesList > li {
        vertical-align: middle;
        height: 50px;
        margin-bottom: 10px;
        width: 300px;
    }
    
    ul.imagesList > li:hover {
        background-color: #5C87B2;
        color: white;
    }
        ul.imagesList > li > * {
            float: left;
        }

        ul.imagesList > li > span {
            margin: 15px;
            display: block;
            width: 110px;
        }
        ul.imagesList > li > img {
            height: 50px;
        }
       