/*clearFix*/
.clear:before, .clear:after {
 content: "\0020"; display: block; height: 0; visibility: hidden;  
} 
.clear:after { clear: both; }
.clear { zoom: 1; }
/*clearFix*/

section > nav {
    width: 200px;
    float: left;
    margin: 15px;
}

    nav > h3 {
        margin-left: 20px;
    }
    
    nav > ul > li > span {
        font-weight: bold;
    }

section#main > article {
    float: left;
    width: 78%;
}

#info span.label {
    display:block; 
    width: 122px; 
    height: 13px;
    float: left;
    margin-right: 15px;
}

.label_guid {
    width: 214px !important;    
}

img.achievement {
    height: 50px;
}

div.project-info {
    margin-bottom: 5px;
}
    div.project-info h3 {
        display: block;
        float: left;
        line-height: 20px;
        width: 130px;
        margin-right: 15px;
    }